@charset "UTF-8";

:root {
	/* Swinburne colour palette */
	/* https://swinburne.edu.au/app/web-style/styleguide/elements.php */
	--swinburne-red: #DC2D27;
	--swinburne-blue: #00AEEF;
	--swinburne-teal: #00BED8;
	--swinburne-green: #86C441;
	--swinburne-black: #000000;
	--swinburne-darkergrey: #292625;
	--swinburne-darkgrey: #474442;
	--swinburne-grey: #6A6664;
	--swinburne-lightgrey: #D9D5D1;
	--swinburne-lightergrey: #EDEAE5;
	--swinburne-offwhite: #F7F6F3;
	--swinburne-beige: #F7F5EE;

	/* Other colours in the guide */
	--border-colour: #D9D5D1;
	--link-colour: #0358AD;
}

* {
	box-sizing: border-box;
}

body {
	max-width: 1280px;
	margin: auto;
	padding: 1rem;
	background: var(--swinburne-red);
	font-family: system-ui, sans-serif;
}

#app > *:not(:last-child) {
	margin-bottom: 1rem;
}

main {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'tp ht ps' 'wd wd rn';
}

h1,
h2,
p {
	margin-block: 0.8rem;
}

h1 {
	font-size: 3rem;
}

p {
	font-size: 3rem;
	text-align: end;
}

div,
section,
footer {
	padding: 1rem 2rem;
	border-radius: 1rem;
	background: var(--swinburne-offwhite);
}

img {
	margin: auto;
	padding-inline: 1rem;
	display: block;
}

.grid {
	display: grid;
	gap: 1rem;
}

@media (width <= 900px) {
	.grid {
		display: flex;
		flex-direction: column;
	}
}
